
body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, rgb(255, 157, 0), rgba(192,224,53,255));
  display: flex;
}

.search-container {
  width: 50vw;
  max-width: 450px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 35vh auto 0;
  position: relative;
}

.search-container input {
 padding: 15px;
 border: 1.5px rgba(212, 168, 10, 0.5) solid;
 border: none;
}

.search-container input,
.search-container .suggestions {
  background-color: rgba(255, 240, 108,0.5);
}

.search-container .suggestions {
   height: auto;
   max-height: 260px;
   width: 50vw;
   max-width: 450px;
   position: absolute;
   top: 100%;
   overflow: hidden;
   /* box-shadow: 0px 0px 10px rgb(103, 95, 126); */
   box-shadow: 0px 6px 10px -5px rgb(103, 95, 126), 0px 6px 10px -8px rgb(103, 95, 126);
}

ul {
  height: 0;  
  padding: 0;
  margin: 0;
}

ul.has-suggestions {
  width: 500px;
  height: inherit;
  max-height: inherit;
  overflow: auto;
}

ul li {
  padding: 10px;
  margin-bottom: 3px;
  list-style: none;
}
ul li:hover {
  cursor: pointer;
  background-color: rgba(228,75,69,0.5);
}